ExternalService/main.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<wsdl:definitions 
    targetNamespace="http://order/test.wsdl"
    xmlns:tns="http://order/test.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">
    
    <wsdl:types>
        <xsd:schema targetNamespace="http://order/test.wsdl">
          
          <xsd:element name ="helloMessage" type="xsd:string"/>
            
          <xsd:element name="order">
              <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element name="orderSpec" type="tns:orderSpec"/>
                  </xsd:sequence>
              </xsd:complexType>
          </xsd:element>
            
        <xsd:element name="orderResponse">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="orderSpec" type="tns:orderSpec"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
            
            
           <xsd:complexType name="orderSpec">
                <xsd:sequence>
                    <xsd:element name="orderID" type="xsd:string"/>
                    <xsd:element name="customerID" type="xsd:string"></xsd:element>
                    <xsd:element name="itemName" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
          </xsd:schema>
    </wsdl:types>

    <wsdl:message name="HelloMessage">
        <wsdl:part name="message" element="tns:helloMessage"/>
    </wsdl:message>

    <wsdl:message name="order">
        <wsdl:part name="order" element="tns:order"/>
    </wsdl:message> 


    <wsdl:portType name="OrderPortType">
        
        <wsdl:operation name="sayHello">
            <wsdl:input message="tns:HelloMessage" name="TestIn"/>
            <wsdl:output message="tns:HelloMessage" name="TestOut"/>
        </wsdl:operation>
        
        <wsdl:operation name="sendOrder">
            <wsdl:input message="tns:order" name="OrderIn"/>
            <wsdl:output message="tns:order" name="OrderOut"/>
        </wsdl:operation>   
  
    </wsdl:portType>

    <wsdl:binding name="OrderSoapBinding" type="tns:OrderPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHello">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body
                    namespace="http://order/test.wsdl"
                    use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body
                    namespace="http://order/test.wsdl" 
                    use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sendOrder">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input>
                <soap:body
                    namespace="http://order/test.wsdl"
                    use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body
                    namespace="http://order/test.wsdl" 
                    use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="OrderService">
        <wsdl:port name="OrderPort" binding="tns:OrderSoapBinding">
            <soap:address location="http://localhost:8080/ode/processes/order"/>
        </wsdl:port>
    </wsdl:service>

    <plnk:partnerLinkType name="OrderPartnerLinkType">
        <plnk:role name="orderResponder" portType="tns:OrderPortType"/>
        <plnk:role name="orderRequester" portType="tns:OrderPortType"/>
    </plnk:partnerLinkType>
</wsdl:definitions>

