ExternalService/main.wsdl

<?xml version="1.0" encoding="utf-8" ?>
<wsdl:definitions 
    targetNamespace="http://hello/test.wsdl"
    xmlns:tns="http://hello/test.wsdl"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

    <wsdl:types>
        <xsd:schema targetNamespace="http://hello/test.wsdl">
          
          <xsd:element name="order">
              <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element name="orderSpec" type="tns:orderSpec"/>
                  </xsd:sequence>
              </xsd:complexType>
          </xsd:element>
            
           <xsd:complexType name="orderSpec">
                <xsd:sequence>
                    <xsd:element name="id" type="xsd:string"/>
                    <xsd:element name="itemName" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            
          </xsd:schema>
    </wsdl:types>

    <wsdl:message name="HelloMessage">
        <wsdl:part name="message" type="xsd:string"/>
    </wsdl:message>
    
    <wsdl:message name="order">
        <wsdl:part name="order" type="tns:order"/>
    </wsdl:message> 


    <wsdl:portType name="HelloPortType">
        <wsdl:operation name="sayHello">
            <wsdl:input message="tns:HelloMessage" name="TestIn"/>
            <wsdl:output message="tns:HelloMessage" name="TestOut"/>
        </wsdl:operation>    
    </wsdl:portType>

    <wsdl:binding name="HelloSoapBinding" type="tns:HelloPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sayHello">
            <soap:operation soapAction="" style="rpc"/>
            <wsdl:input>
                <soap:body
                    namespace="http://hello/test.wsdl"
                    use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body
                    namespace="http://hello/test.wsdl" 
                    use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="HelloService">
        <wsdl:port name="HelloPort" binding="tns:HelloSoapBinding">
            <soap:address location=" http://localhost:8080/ode/processes/main"/>
        </wsdl:port>
    </wsdl:service>

    <plnk:partnerLinkType name="HelloPartnerLinkType">
        <plnk:role name="helloResponder" portType="tns:HelloPortType"/>
        <plnk:role name="helloRequester" portType="tns:HelloPortType"/>
    </plnk:partnerLinkType>
</wsdl:definitions>

